<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body">
    <section class="title-section-wrapper">
      <div class="container">
        <div class="title-block title-with-triangle">
          <img class="icon-img" src="../../images/icon-cart-title.png" width="16" height="16" alt=""/>
          <div class="text-wrap">
            cart
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper subpage-content-wrapper page-content page-content-default">
      <div class="container">
        <div class="cart-table-container">
          <table>
            <tr>
              <th>Name of spare parts catalogs</th>
              <th>Value</th>
              <th>Update</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
            <tr>
              <td>
                <div class="title-block">
                  <a href="#">CPI: Hussar, Popcorn, GTR, Oliver City, Oliver Sport, Enduro 2003-2006</a>
                </div>
                <p>
                  Spare parts catalog and repair manuals for Honda Engines, Garden - Lawnmowers, Lawntractors, Tillers, Riding mowers, Honda Tractors, Grasscutters, Brushcutters, Snowthrowers, Honda Industry - Generators, Water Pumps, Power Carriers, Honda Marine outboard engines.
                </p>
              </td>
              <td>
                1 DVD DL
              </td>
              <td>
                <div class="date-wrap">
                  10 / 2015
                </div>
              </td>
              <td>
                3 keys
              </td>
              <td>
                <span class="price-wrap">$25</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="title-block">
                  <a href="#">CPI: Hussar, Popcorn, GTR, Oliver City, Oliver Sport, Enduro 2003-2006</a>
                </div>
                <p>
                  Spare parts catalog and repair manuals for Honda Engines, Garden - Lawnmowers, Lawntractors, Tillers, Riding mowers, Honda Tractors, Grasscutters, Brushcutters, Snowthrowers, Honda Industry - Generators, Water Pumps, Power Carriers, Honda Marine outboard engines.
                </p>
              </td>
              <td>
                1 DVD DL
              </td>
              <td>
                <div class="date-wrap">
                  10 / 2015
                </div>
              </td>
              <td>
                3 keys
              </td>
              <td>
                <span class="price-wrap">$25</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="title-block">
                  <a href="#">CPI: Hussar, Popcorn, GTR, Oliver City, Oliver Sport, Enduro 2003-2006</a>
                </div>
                <p>
                  Spare parts catalog and repair manuals for Honda Engines, Garden - Lawnmowers, Lawntractors, Tillers, Riding mowers, Honda Tractors, Grasscutters, Brushcutters, Snowthrowers, Honda Industry - Generators, Water Pumps, Power Carriers, Honda Marine outboard engines.
                </p>
              </td>
              <td>
                1 DVD DL
              </td>
              <td>
                <div class="date-wrap">
                  10 / 2015
                </div>
              </td>
              <td>
                3 keys
              </td>
              <td>
                <span class="price-wrap">$25</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="title-block">
                  <a href="#">CPI: Hussar, Popcorn, GTR, Oliver City, Oliver Sport, Enduro 2003-2006</a>
                </div>
                <p>
                  Spare parts catalog and repair manuals for Honda Engines, Garden - Lawnmowers, Lawntractors, Tillers, Riding mowers, Honda Tractors, Grasscutters, Brushcutters, Snowthrowers, Honda Industry - Generators, Water Pumps, Power Carriers, Honda Marine outboard engines.
                </p>
              </td>
              <td>
                1 DVD DL
              </td>
              <td>
                <div class="date-wrap">
                  10 / 2015
                </div>
              </td>
              <td>
                3 keys
              </td>
              <td>
                <span class="price-wrap">$25</span>
              </td>
            </tr>
            <tr>
              <th class="footer-cell" colspan="4">
                <div class="text-right">
                  Total Amount Of Order:
                </div>
              </th>
              <th class="footer-cell">
                <div class="total-price-block">
                  <div class="number-wrap">
                    $100
                  </div>
                  + Shipping
                </div>
              </th>
            </tr>
          </table>
          <div class="bottom-block">
            <div class="row">
              <div class="col-xs-6">
                <a href="#" class="btn-link-md">
                  <span class="icon-block icon-promo-gift"></span>
                  I have promo code
                </a>
                <a href="#" class="btn-link-md">
                  <span class="icon-block icon-information-link"></span>
                  How to get it?
                </a>
              </div>
              <div class="col-xs-6 text-right">
                <a href="#" class="btn-link-md">Continue shopping</a>
                <a href="#" class="btn btn-primary icon-next btn-icon">place order<i class="icon-block icon-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

</div>


<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>
