<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body">
    <section class="title-section-wrapper">
      <div class="container">
        <div class="title-block">
          <img class="icon-img" src="../../images/icon-map-pin.png" width="15" height="16" alt=""/>
          <div class="text-wrap">
            CONTACT
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper page-content text-content page-contact">
      <div class="container">
        <div class="panel">
          <div class="row">
            <div class="col-xs-6 contacts-info-block">
              <h3>
                <span class="color-dark-blue title-blue-separator">Have a questions?</span>
              </h3>
              <p>
                On our website AUTOEPC.COM you can find tons of information, extremely useful for beginning motorists as well as for skilled professionals. There are electronic catalogues of spare parts for vehicles manufactured in all world, their base, information on repairs and diagnosing vehicles, service, car-care centers, etc. On AUTOEPC.COM you can find electronic original spare parts catalogs, the information about car repairs, repair manuals, service manuals, diagnostics and servicing.
              </p>
              <div class="row">
                <div class="col-xs-4">
                  <hr class="blue-separator">
                </div>
              </div>
              <div class="contacts-list">
                <ul>
                  <li>
                    <a class="email-link" href="mailto:info@autocd.com">info@autocd.com</a>
                  </li>
                  <li>
                    <a class="phone-link" href="tel:+380673656565">+38 (067) 365-65-65</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 contacts-form">
              <form action="#">
                <div class="form-row">
                  <input class="form-control blocked icon-field icon-name" placeholder="Name" type="text" required="required">
                </div>
                <div class="form-row">
                  <input class="form-control blocked icon-field icon-email" placeholder="E-mail" type="email" required="required">
                </div>
                <div class="form-row">
                  <textarea class="form-control blocked" placeholder="Your message"></textarea>
                </div>
                <div class="form-row capcha-row">
                  <img src="../../images/recapcha-img.png" width="402" height="100" alt=""/>
                </div>
                <div class="form-row">
                  <button type="submit" class="btn btn-primary btn-md">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

</div>


<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>
