<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body">
    <!-- build:section layout.parts-catalogue-nav -->
    <!-- /build -->
    <section class="wrapper slider-wrapper">
      <div class="main-slider">
        <div class="slide">
          <div class="slide-container">
            <div class="text-block">
              <div class="title-wrap">
                Remote Parts Catalogs for Cars
              </div>
              <div class="update-wrap">
                Update 10 / 2015
              </div>
              <div class="text-left">
                <a href="#" class="btn btn-primary icon-next btn-icon">
                  Watch now
                  <i class="icon-block icon-arrow-right"></i>
                </a>
              </div>
            </div>
            <img src="../../images/slider-img-1.jpg" alt=""/>
          </div>
        </div>
        <div class="slide">
          <div class="slide-container">
            <div class="text-block">
              <div class="title-wrap">
                Remote Parts Catalogs for Cars
              </div>
              <div class="update-wrap">
                Update 10 / 2015
              </div>
              <div class="text-left">
                <a href="#" class="btn btn-primary icon-next btn-icon">
                  Watch now
                  <i class="icon-block icon-arrow-right"></i>
                </a>
              </div>
            </div>
            <img src="../../images/slider-img-2.jpg" alt=""/>
          </div>
        </div>
        <div class="slide">
          <div class="slide-container">
            <div class="text-block">
              <div class="title-wrap">
                Remote Parts Catalogs for Cars
              </div>
              <div class="update-wrap">
                Update 10 / 2015
              </div>
              <div class="text-left">
                <a href="#" class="btn btn-primary icon-next btn-icon">
                  Watch now
                  <i class="icon-block icon-arrow-right"></i>
                </a>
              </div>
            </div>
            <img src="../../images/slider-img-3.jpg" alt=""/>
          </div>
        </div>
        <div class="slide">
          <div class="slide-container">
            <div class="text-block">
              <div class="title-wrap">
                Remote Parts Catalogs for Cars
              </div>
              <div class="update-wrap">
                Update 10 / 2015
              </div>
              <div class="text-left">
                <a href="#" class="btn btn-primary icon-next btn-icon">
                  Watch now
                  <i class="icon-block icon-arrow-right"></i>
                </a>
              </div>
            </div>
            <img src="../../images/slider-img-3.jpg" alt=""/>
          </div>
        </div>
      </div>
      <div class="container main-slider-controls">
        <a href="#" class="slick-control btn-prev">prev</a>
        <a href="#" class="slick-control btn-next">next</a>
      </div>
    </section>
    <section class="wrapper catalog-wrapper">
      <div class="container">
        <div class="title-section title-catalog-wrapper">
          new catalogue update
        </div>
        <div class="row catalog-container">
          <div class="col-xs-6 catalog-item">
            <div class="catalog-block">
              <a href="#" class="title-wrap">
                CPI: Hussar, Popcorn, GTR, Oliver City, Oliver Sport, Enduro 2003-2006
              </a>
              <div class="text-wrap">
                Spare parts catalog and repair manuals for Honda Engines, Garden - Lawnmowers, Lawntractors, Tillers, Riding mowers, Honda Tractors, Grasscutters, Brushcutters, Snowthrowers, Honda Industry - Generators, Water Pumps, Power Carriers, Honda Marine outboard engines.
              </div>
              <div class="update-wrap">
                update  10 / 2015
              </div>
            </div>
          </div>
          <div class="col-xs-6 catalog-item">
            <div class="catalog-block">
              <div class="title-wrap">
                GTR, Oliver City, Oliver Sport, Enduro 2003-2006
              </div>
              <div class="text-wrap">
                Spare parts catalog and repair manuals for Honda Engines, Garden - Lawnmowers, Lawntractors, Tillers, Riding mowers, Honda Tractors, Grasscutters, Brushcutters, Snowthrowers, Honda Industry - Generators, Water Pumps, Power Carriers, Honda Marine outboard engines.
              </div>
              <div class="update-wrap">
                update  10 / 2013
              </div>
            </div>
          </div>
          <div class="col-xs-6 catalog-item">
            <div class="catalog-block">
              <div class="title-wrap">
                GTR, Oliver City, Oliver Sport, Enduro 2003-2006
              </div>
              <div class="text-wrap">
                Spare parts catalog and repair manuals for Honda Engines, Garden - Lawnmowers, Lawntractors, Tillers, Riding mowers, Honda Tractors, Grasscutters, Brushcutters, Snowthrowers, Honda Industry - Generators, Water Pumps, Power Carriers, Honda Marine outboard engines.
              </div>
              <div class="update-wrap">
                update  10 / 2015
              </div>
            </div>
          </div>
          <div class="col-xs-6 catalog-item">
            <div class="catalog-block">
              <div class="title-wrap">
                CPI: Hussar, Popcorn, GTR, Oliver City, Oliver Sport, Enduro 2003-2006
              </div>
              <div class="text-wrap">
                Spare parts catalog and repair manuals for Honda Engines, Garden - Lawnmowers, Lawntractors, Tillers, Riding mowers, Honda Tractors, Grasscutters, Brushcutters, Snowthrowers, Honda Industry - Generators, Water Pumps, Power Carriers, Honda Marine outboard engines.
              </div>
              <div class="update-wrap">
                update  10 / 2015
              </div>
            </div>
          </div>
          <div class="col-xs-6 catalog-item">
            <div class="catalog-block">
              <div class="title-wrap">
                CPI: Hussar, Popcorn, GTR, Oliver City, Oliver Sport, Enduro 2003-2006
              </div>
              <div class="text-wrap">
                Spare parts catalog and repair manuals for Honda Engines, Garden - Lawnmowers, Lawntractors, Tillers, Riding mowers, Honda Tractors, Grasscutters, Brushcutters, Snowthrowers, Honda Industry - Generators, Water Pumps, Power Carriers, Honda Marine outboard engines.
              </div>
              <div class="update-wrap">
                update  10 / 2015
              </div>
            </div>
          </div>
          <div class="col-xs-6 catalog-item">
            <div class="catalog-block">
              <div class="title-wrap">
                GTR, Oliver City, Oliver Sport, Enduro 2003-2006
              </div>
              <div class="text-wrap">
                Spare parts catalog and repair manuals for Honda Engines, Garden - Lawnmowers, Lawntractors, Tillers, Riding mowers, Honda Tractors, Grasscutters, Brushcutters, Snowthrowers, Honda Industry - Generators, Water Pumps, Power Carriers, Honda Marine outboard engines.
              </div>
              <div class="update-wrap">
                update  10 / 2015
              </div>
            </div>
          </div>
          <div class="col-xs-6 catalog-item hidden-item">
            <div class="catalog-block">
              <div class="title-wrap">
                CPI: Hussar, Popcorn, GTR, Oliver City, Oliver Sport, Enduro 2003-2006
              </div>
              <div class="text-wrap">
                Spare parts catalog and repair manuals for Honda Engines, Garden - Lawnmowers, Lawntractors, Tillers, Riding mowers, Honda Tractors, Grasscutters, Brushcutters, Snowthrowers, Honda Industry - Generators, Water Pumps, Power Carriers, Honda Marine outboard engines.
              </div>
              <div class="update-wrap">
                update  10 / 2015
              </div>
            </div>
          </div>
          <div class="col-xs-6 catalog-item hidden-item">
            <div class="catalog-block">
              <div class="title-wrap">
                GTR, Oliver City, Oliver Sport, Enduro 2003-2006
              </div>
              <div class="text-wrap">
                Spare parts catalog and repair manuals for Honda Engines, Garden - Lawnmowers, Lawntractors, Tillers, Riding mowers, Honda Tractors, Grasscutters, Brushcutters, Snowthrowers, Honda Industry - Generators, Water Pumps, Power Carriers, Honda Marine outboard engines.
              </div>
              <div class="update-wrap">
                update  10 / 2015
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a href="#" class="btn btn-default btn-load-more">See all</a>
        </div>
      </div>
    </section>
    <section class="wrapper bottom-content-wrapper">
      <div class="container">
        <div class="about-wrapper">
          <div class="row">
            <div class="col-xs-6">
              <div class="text-block">
                <div class="title-block">
                  welcome to <span class="color-white">autocd</span>
                </div>
                <div class="text-wrap">
                  On our website  you can find tons of information, extremely useful for beginning motorists as well as for skilled professionals. There are electronic catalogues of spare parts for vehicles manufactured in all world, their base, information on repairs and diagnosing vehicles, service, car-care centers, etc. On <a href="#">autocd.com.ua</a> you can find electronic original spare parts catalogs, the information about car repairs, repair manuals, service manuals, diagnostics and servicing. This is the only source for full information regarding spares parts and repair manuals. Electronic spare parts catalogues available not only for regular cars and light trucks, but
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <img src="../../images/about-img.png" alt="" width="562" height="403"/>
            </div>
          </div>
        </div>
        <div class="access-catalog-wrapper">
          <div class="media">
            <div class="media-element fl">
              <img src="../../images/catalog-img.png" alt="" width="580" height=""/>
            </div>
            <div class="media-content">
              <div class="media">
                <div class="media-element fr gutter-standart btn-block">
                  <a href="#" class="btn btn-white">GEt access</a>
                </div>
                <div class="media-content">
                  <div class="title-block">
                    Remote Parts Catalog
                  </div>
                  <div class="text-block">
                    Instant access to all digital parts catalogs from your laptop, tablet, desktop or mobile device.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

</div>


<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>
