<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body">
    <section class="title-section-wrapper">
      <div class="container">
        <div class="title-block title-with-triangle">
          <img class="icon-img" src="../../images/icon-magazine.png" width="16" height="15" alt=""/>
          <div class="text-wrap">
            News
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper page-content text-content">
      <div class="container">
        <div class="panel panel-default">
          <div class="row">
            <div class="col-xs-11">
              <div class="news-post-item">
                <div class="date-wrap date-green-wrap">
                  September 5th, 2015
                </div>
                <h3>Extending Advanced Custom Fields With Your Own Controls</h3>
                <div class="text-block">
                  <p>
                    Advanced Custom Fields (ACF) is a free WordPress plugin that replaces the regular custom fields interface in WordPress with something far more powerful, offering a user-friendly interface for complex fields like location maps, date pickers and more.
                  </p>
                  <img src="../../images/news-post-img-1.jpg" width="940" height="500" alt=""/>
                  <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                  </p>
                </div>
              </div>
              <div class="news-post-controls">
                <ul>
                  <li>
                    <a href="#" class="btn btn-default">
                      previous post
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-block">
                      back to list news
                    </a>
                  </li>
                  <li>
                    <a href="#" class="btn btn-default">
                      next post
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="access-catalog-wrapper">
          <div class="media">
            <div class="media-element fl">
              <img src="../../images/catalog-img.png" alt="" width="580" height=""/>
            </div>
            <div class="media-content">
              <div class="media">
                <div class="media-element fr gutter-standart btn-block">
                  <a href="#" class="btn btn-white">GEt access</a>
                </div>
                <div class="media-content">
                  <div class="title-block">
                    Remote Parts Catalog
                  </div>
                  <div class="text-block">
                    Instant access to all digital parts catalogs from your laptop, tablet, desktop or mobile device.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

</div>


<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>
