<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body">
    <section class="title-section-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <div class="title-block title-with-triangle">
              <div class="text-wrap">
                <img class="icon-img" src="../../images/icon-magazine.png" width="16" height="15" alt=""/>
                News
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="pagination-block text-right">
              <span class="title-wrap">
                Page:
              </span>
              <ul>
                <li>
                  <a href="#" class="pagination-prev">prev</a>
                </li>
                <li>
                  <a href="#">1</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a class="active" href="#">3</a>
                </li>
                <li>
                  <a href="#">4</a>
                </li>
                <li>
                  <a href="#">5</a>
                </li>
                <li>
                  <a href="#">...</a>
                </li>
                <li>
                  <a href="#">10</a>
                </li>
                <li>
                  <a href="#" class="pagination-next">next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper page-content text-content">
      <div class="container">
        <div class="panel panel-with-footer">
          <div class="row">
            <div class="col-xs-11">
              <div class="news-list">
                <div class="news-item news-post-item">
                  <div class="date-wrap date-green-wrap">
                    September 5th, 2015
                  </div>
                  <h3><a href="#">Extending Advanced Custom Fields With Your Own Controls</a></h3>
                  <p>
                    Advanced Custom Fields (ACF) is a free WordPress plugin that replaces the regular custom fields interface in WordPress with something far more powerful, offering a user-friendly interface for complex fields like location maps, date pickers and more.
                  </p>
                  <a href="#" class="btn btn-default">
                    read more
                  </a>
                </div>
                <div class="news-item news-post-item">
                  <div class="date-wrap date-green-wrap">
                    September 5th, 2015
                  </div>
                  <h3><a href="#">Web Development Reading List #102</a></h3>
                  <p>
                    What’s happening in the industry? What important techniques have emerged recently? What about new case studies, insights, techniques and tools? Our dear friend Anselm Hannemann is keeping track of everything in the web development reading list so you don’t have to. The result is a carefully collected list of articles that popped up over the last week and which might interest you. — Ed.
                  </p>
                  <a href="#" class="btn btn-default">
                    read more
                  </a>
                </div>
                <div class="news-item news-post-item">
                  <div class="date-wrap date-green-wrap">
                    September 5th, 2015
                  </div>
                  <h3><a href="#">Extending Advanced Custom Fields With Your Own Controls</a></h3>
                  <p>
                    Advanced Custom Fields (ACF) is a free WordPress plugin that replaces the regular custom fields interface in WordPress with something far more powerful, offering a user-friendly interface for complex fields like location maps, date pickers and more.
                  </p>
                  <a href="#" class="btn btn-default">
                    read more
                  </a>
                </div>
                <div class="news-item news-post-item">
                  <div class="date-wrap date-green-wrap">
                    September 5th, 2015
                  </div>
                  <h3><a href="#">Web Development Reading List #102</a></h3>
                  <p>
                    What’s happening in the industry? What important techniques have emerged recently? What about new case studies, insights, techniques and tools? Our dear friend Anselm Hannemann is keeping track of everything in the web development reading list so you don’t have to. The result is a carefully collected list of articles that popped up over the last week and which might interest you. — Ed.
                  </p>
                  <a href="#" class="btn btn-default">
                    read more
                  </a>
                </div>
                <div class="news-item news-post-item">
                  <div class="date-wrap date-green-wrap">
                    September 5th, 2015
                  </div>
                  <h3><a href="#">Web Development Reading List #102</a></h3>
                  <p>
                    What’s happening in the industry? What important techniques have emerged recently? What about new case studies, insights, techniques and tools? Our dear friend Anselm Hannemann is keeping track of everything in the web development reading list so you don’t have to. The result is a carefully collected list of articles that popped up over the last week and which might interest you. — Ed.
                  </p>
                  <a href="#" class="btn btn-default">
                    read more
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-bottom">
            <div class="pagination-block">
              <span class="title-wrap">
                Page:
              </span>
              <ul>
                <li>
                  <a href="#" class="pagination-prev">prev</a>
                </li>
                <li>
                  <a href="#">1</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a class="active" href="#">3</a>
                </li>
                <li>
                  <a href="#">4</a>
                </li>
                <li>
                  <a href="#">5</a>
                </li>
                <li>
                  <a href="#">...</a>
                </li>
                <li>
                  <a href="#">10</a>
                </li>
                <li>
                  <a href="#" class="pagination-next">next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="access-catalog-wrapper">
          <div class="media">
            <div class="media-element fl">
              <img src="../../images/catalog-img.png" alt="" width="580" height=""/>
            </div>
            <div class="media-content">
              <div class="media">
                <div class="media-element fr gutter-standart btn-block">
                  <a href="#" class="btn btn-white">GEt access</a>
                </div>
                <div class="media-content">
                  <div class="title-block">
                    Remote Parts Catalog
                  </div>
                  <div class="text-block">
                    Instant access to all digital parts catalogs from your laptop, tablet, desktop or mobile device.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

</div>


<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>
