<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body">
    <section class="title-section-wrapper">
      <div class="container">
        <div class="title-block title-with-triangle">
          <img class="icon-img" src="../../images/icon-information.png" width="15" height="15" alt=""/>
          <div class="text-wrap">
            offers
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper page-content text-content">
      <div class="container">
        <div class="panel panel-default">
          <div class="row">
            <div class="col-xs-6">
              <h3>Do you want more?</h3>
              <p>
                On our website AUTOEPC.COM you can find tons of information, extremely useful for beginning motorists as well as for skilled professionals. There are electronic catalogues of spare parts for vehicles manufactured in all world, their base, information on repairs and diagnosing vehicles, service, car-care centers, etc. On AUTOEPC.COM you can find electronic original spare parts catalogs, the information about car repairs, repair manuals, service manuals, diagnostics and servicing. This is the only source for full information regarding spares parts and repair manuals. Electronic spare parts catalogues available not only for regular cars and light trucks, but also for other types of equipment such as heavy trucks, buses, motorcycles, boat motors, fork lifts, industrial engines, tractors, dredges, building and warehouse technical equipment, etc.
              </p>
              <p>
                In the electronic spare parts catalogues you can search for detailed information on components installed in the vehicle. With the help of the catalogues you can find out an exact release date of your vehicle, its complete set, serial numbers for spares and their cost, find out about compatibility of spares between vehicle models, get precise drawings/blueprints of the spare, study the design of units of the car, sizes and weight of spares, and such data as bonnet tables, release dates, its complete set, color, etc. Serial numbers of spares, the prices on spares change regularly by manufacturers. Therefore it is recommended to update the catalogues when new one becomes available (or not less than 2-3 times a year).
              </p>
              <p>
                Catalogs with repair manuals and service manuals contain most up-to-date information on procedures of servicing and diagnostics, electric schemes and description of control units, instructions with illustrations. It will allow you to perform most difficult repair procedures. The catalogues are oriented not only for auto-dealers and the car-care centers that have highly skilled specialists and special equipment, but also for the motorists who deal with repairs themselves.
              </p>
              <p>
                In the AUTOEPC.COM FORUM section you can ask a questions on any topic connected with repairing and diagnostics a vehicle, vehicle diagnostic equipment, installation of the electronic catalogues. Also you can place announcements of purchase or sale, find out how to unlock or decode an in-car stereo and many other hints.
              </p>
              <p>
                We offer the information not only on automobile vehicles, but also for heavy trucks, medium lorries, buses, motorcycles, bikes, ATV, jet boats, snow mobiles, boat motors, hydrocycles, Fork Lifts Trucks, Backhoe Loaders, Crawler Excavators, Wheel Loaders, Dozers, Caterpillar SIS.
              </p>
            </div>
            <div class="col-xs-6">
              <h3>Discounts:</h3>
              <div class="text-wrap">
                <p>
                  Pay Less, Get More: orders from $301 to $500 - 5% discount, from $501 to $1500 - 10%-15% discount, more than $1500 - 20% discount<br/>
                  Preferential acquisition of documentation:<br/>
                  Suggest getting the information you want (instructions, catalogs), in exchange for your existing technical documents or catalogs. Opportunity to share, you can learn by writing us an email through the feedback site.<br/>
                  How to obtain keys for installation and activation of the catalogue?
                </p>
                <p>
                  Each computer has its own key of activation, that's why if you install the catalogs on other computer, a new key of activation will be required. To receive the activation key you should login to our website, go to "Recent Orders" section and select your order number by clicking on it. In a field that will appear please enter the key given to you by the program. Activation key will be sent to you by email within 24 hrs. You can get additional keys of activation with "Activation Keys/Codes" section.
                </p>
              </div>
              <h3>How to get?</h3>
            <span>
            You can search our website in three ways.
            </span>
              <ul>
                <li>
                  By choosing an item from the menu located at the left side under the button "Place Your Order".
                </li>
                <li>
                  You can select electronic catalogues by a category: cars, lorries, buses, by manufacturers, repair of vehicles. The second way: by choosing a market (region) (Europe, Asia, America or Japan).
                </li>
                <li>
                  Search by keywords. Keyword search is located under the "Activation Keys/Codes" button.
                </li>
              </ul>
              <p>
                Service by remote installation, control and activation of catalogs.
              </p>
              <p>
                If the help was required from you with installation or activation of catalogs, you can use services of our expert, for connection on the Internet to your computer through the program of Team Viewer removed access. Payment of this service isn't included in cost of the order and makes 50-100 USD.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

</div>


<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>
