<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body">
    <section class="title-section-wrapper">
      <div class="container">
        <div class="title-block title-with-triangle">
          <img class="icon-img" src="../../images/icon-information.png" width="15" height="15" alt=""/>
          <div class="text-wrap">
            Pagelist
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper page-content text-content">
      <div class="container">
        <div class="panel">
          <ol>
            <li><a href="index.html">index</a></li>
            <li><a href="404.html">404</a></li>
            <li><a href="contact.html">contact</a></li>
            <li><a href="offers.html">offers</a></li>
            <li><a href="terms.html">terms</a></li>
            <li><a href="news-company.html">news company</a></li>
            <li><a href="news-post.html">news company post</a></li>
            <li><a href="news-catalogue-update.html">news catalogue update</a></li>
            <li><a href="cart.html">cart</a></li>
            <li><a href="faq.html">faq</a></li>
          </ol>
        </div>
      </div>
    </section>

  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

</div>


<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>
