<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body">
    <section class="title-section-wrapper">
      <div class="container">
        <div class="title-block title-with-triangle">
          <img class="icon-img" src="../../images/icon-information.png" width="15" height="15" alt=""/>
          <div class="text-wrap">
            Terms and Conditions
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper page-content text-content">
      <div class="container">
        <div class="panel panel-default">
          <div class="row">
            <div class="col-xs-6">
              <h3>
                Please read this Terms carefully if you have questions while shopping or working with our software.
              </h3>
              <div class="text-wrap">
                <p>
                  On our website AUTOEPC.COM you can find tons of information, extremely useful for beginning motorists as well as for skilled professionals. There are electronic catalogues of spare parts for vehicles manufactured in all world, their base, information on repairs and diagnosing vehicles, service, car-care centers, etc. On AUTOEPC.COM you can find electronic original spare parts catalogs, the information about car repairs, repair manuals, service manuals, diagnostics and servicing. This is the only source for full information regarding spares parts and repair manuals. Electronic spare parts catalogues available not only for regular cars and light trucks, but also for other types of equipment such as heavy trucks, buses, motorcycles, boat motors, fork lifts, industrial engines, tractors, dredges, building and warehouse technical equipment, etc.
                </p>
                <p>
                  In the electronic spare parts catalogues you can search for detailed information on components installed in the vehicle. With the help of the catalogues you can find out an exact release date of your vehicle, its complete set, serial numbers for spares and their cost, find out about compatibility of spares between vehicle models, get precise drawings/blueprints of the spare, study the design of units of the car, sizes and weight of spares, and such data as bonnet tables, release dates, its complete set, color, etc. Serial numbers of spares, the prices on spares change regularly by manufacturers. Therefore it is recommended to update the catalogues when new one becomes available (or not less than 2-3 times a year).
                </p>
                <p>
                  Catalogs with repair manuals and service manuals contain most up-to-date information on procedures of servicing and diagnostics, electric schemes and description of control units, instructions with illustrations. It will allow you to perform most difficult repair procedures. The catalogues are oriented not only for auto-dealers and the car-care centers that have highly skilled specialists and special equipment, but also for the motorists who deal with repairs themselves.
                </p>
                <p>
                  In the AUTOEPC.COM FORUM section you can ask a questions on any topic connected with repairing and diagnostics a vehicle, vehicle diagnostic equipment, installation of the electronic catalogues. Also you can place announcements of purchase or sale, find out how to unlock or decode an in-car stereo and many other hints.
                </p>
                <p>
                  We offer the information not only on automobile vehicles, but also for heavy trucks, medium lorries, buses, motorcycles, bikes, ATV, jet boats, snow mobiles, boat motors, hydrocycles, Fork Lifts Trucks, Backhoe Loaders, Crawler Excavators, Wheel Loaders, Dozers, Caterpillar SIS.
                </p>
              </div>
              <h3>
                To order the electronic catalogues please follow 4 easy steps:
              </h3>
              <div class="styled-list">
                <ol>
                  <li>
                    To order the electronic catalogs it is necessary to register on the website's AUTOEPC.COM For registration press "Registration" button, which is on the top of the main page. There is a form, where you should type in your personal data. Pay attention to fields marked by a "*", they are mandatory. Without this information the further registration is not possible. Specify real (existing) email in the "email" field. Your login/password will be sent to there. Press "Registration" and wait for the email to arrive into your inbox. If the email will not come, let us know asap via email or feedback form on the website.
                  </li>
                  <li>
                    If you already registered or received an email from us with your login/password, please login to our website to place your order. Choose the catalogues and press "Add to cart". For checkout press "View Cart" and you will be redirected to the section with the list of the catalogues that you have selected to purchase. You can remove unnecessary items or you can also return to the previous page to add new items.
                  </li>
                  <li>
                    When all items you wanted are in the cart, press "Place Your Order". Choose the way of delivery and payment, (remember that the fields marked by the symbol * are mandatory). Once you order completed and finalized, you will receive your order number by email (to email address specified at registration). Emptied basket is the second evidence of completed order. If the email did not arrive or selected items remain in the basket than the order is not completed. Please return to the Step 3. After your order received, it will be processed and shipped to you as soon as possible.You can always check the status of your order in "Recent Orders" section.
                  </li>
                  <li>
                    To view the status of your order please login to our website, then go to "Recent Orders" section. There will be the information on your order, activation codes and instructions how to pay the order. If you have lost the instructions for installation of the program or validity of the link for downloading files has expired, send us an email specifying your order number and the name of the program, we will send you instructions again and re-activate the links to the files.
                  </li>
                </ol>
              </div>
            </div>
            <div class="col-xs-6">
              <h3>Discounts:</h3>
              <div class="text-wrap">
                <p>
                  Pay Less, Get More: orders from $301 to $500 - 5% discount, from $501 to $1500 - 10%-15% discount, more than $1500 - 20% discount<br/>
                  Preferential acquisition of documentation:<br/>
                  Suggest getting the information you want (instructions, catalogs), in exchange for your existing technical documents or catalogs. Opportunity to share, you can learn by writing us an email through the feedback site.<br/>
                  How to obtain keys for installation and activation of the catalogue?
                </p>
                <p>
                  Each computer has its own key of activation, that's why if you install the catalogs on other computer, a new key of activation will be required. To receive the activation key you should login to our website, go to "Recent Orders" section and select your order number by clicking on it. In a field that will appear please enter the key given to you by the program. Activation key will be sent to you by email within 24 hrs. You can get additional keys of activation with "Activation Keys/Codes" section.
                </p>
              </div>
              <h3>How to get?</h3>
            <span>
            You can search our website in three ways.
            </span>
              <ul>
                <li>
                  By choosing an item from the menu located at the left side under the button "Place Your Order".
                </li>
                <li>
                  You can select electronic catalogues by a category: cars, lorries, buses, by manufacturers, repair of vehicles. The second way: by choosing a market (region) (Europe, Asia, America or Japan).
                </li>
                <li>
                  Search by keywords. Keyword search is located under the "Activation Keys/Codes" button.
                </li>
              </ul>
              <div class="text-wrap">
                <p>
                  Service by remote installation, control and activation of catalogs.
                </p>
                <p>
                  If the help was required from you with installation or activation of catalogs, you can use services of our expert, for connection on the Internet to your computer through the program of Team Viewer removed access. Payment of this service isn't included in cost of the order and makes 50-100 USD.
                </p>
              </div>
              <h3>
                Have questions?
              </h3>
              <div class="text-wrap">
                <p>
                  Quite often our visitors have similar questions. That's why we have placed the answers on the most popular of them F.A.Q. section. If you wish to ask something, please go to F.A.Q. section first. An answer may be there already. If you cannot find the answer to your question, email us to autocd@autocd.biz or use a feedback form. With "AUTOEPC.COM Forum" section you can question our advisers. If you did not receive the reply to your question for from us for 24 hours please try again from another email address and/or through our feedback form.
                </p>
              </div>
              <h3>
                I have a catalogs that you do not have in your list!
              </h3>
              <p>
                If you have permanent or temporary source of catalog on CD/DVD (auto parts catalog, auto repair manual, automobiles repair catalogues for Mercedes, Audi, BMW, Mitsubishi, Ford, Hyundai, Renault, Nissan, Mazda, Toyota, Honda, Suzuki, Subaru, Land Rover, Alldata, Man, Mitchell and etc.) which you cannot find in our shop we can consider all the methods of mutual cooperation/exchange. Simply let us know the details.

              </p>
              <p>
                Auto workshop repairs, electrical wirings diagrams, spare parts identification catalogs, workshop service manuals, hydraulic schematics and etc.<br/>
                If you can't find needed catalog, use - Search.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

</div>


<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>
